<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/profile-create']">
      <img
        src="../../../assets/brand/bootstrap-solid.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Juturu
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile-create']"
            >Profile Create</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/enquiry-list']"
            >Enquiries<span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </nav>
</div>
<alert></alert>
<div class="row">
  <div class="col-md-6">
    <h2>Staff Profiles</h2>
    <span *ngIf="!user.length">No Staff Profiles Created</span>
    <ul class="list-group" *ngFor="let profile of user">
      <li class="list-group-item">
        <table>
          <td class="username">
            <p>Name: {{ profile.first_name + " " + profile.last_name }}</p>
            <p>email: {{ profile.email }}</p>
            <p>Phone: {{ profile.phone_no }}</p>
            <p>address: {{ profile.address }}</p>
            <p>city: {{ profile.city }}</p>
          </td>
          <td class="view">
            <button
              class="btn btn-primary update-button"
              (click)="
                profile.view = 'u';
                profile.password = '';
                selectProfile(profile)
              "
            >
              Edit Profile
            </button>
          </td>
          <td class="view">
            <button
              class="btn btn-warning update-button"
              (click)="
                profile.view = 'r';
                profile.password = '';
                selectProfile(profile)
              "
            >
              Reset Password
            </button>
          </td>
          <td class="view">
            <button
              class="btn btn-btn btn-{{
                profile.status == 'enable' ? 'warning' : 'danger'
              }} update-button"
              (click)="
                profile.status === 'enable'
                  ? (profile.status = 'disable')
                  : (profile.status = 'enable');
                DisableProfile(profile)
              "
            >
              {{ profile.status === "enable" ? "disable" : "enable" }} account
            </button>
          </td>
        </table>
      </li>
    </ul>
    <button class="btn btn-warning" (click)="openCreateForm()">Create Profile</button>
  </div>

  <div class="col-md-6 col-md-offset-2" [hidden]="hideForm">
    <div [hidden]="!(view === viewStatus.update || view === viewStatus.new)">
      <h2 *ngIf="view === viewStatus.new">Create New Profile</h2>
      <h2 *ngIf="view === viewStatus.update">Edit Profile</h2>
      <form #formModel="ngForm">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <p *ngIf="firstNameError" class="error-message">please provide a valid first name</p>
        <input
          class="form-control"
          name="firstname"
          ngModel
          placeholder="Enter first name"
          required
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <p *ngIf="lastNameError" class="error-message">please provide a valid last name</p>
        <input
          class="form-control"
          name="lastname"
          ngModel
          placeholder="Enter first name"
          required
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="queryphoneno">Phone_No</label>
        <p *ngIf="phoneNumberError" class="error-message">please provide a valid Phone_No</p>
        <input
          class="form-control"
          name="queryphoneno"
          ngModel
          placeholder="Enter Phone Number Here"
          required
          minlength="10"
          maxlength="10"
          type="number"
        />
      </div>
      <div class="form-group" *ngIf="view != viewStatus.update" disable>
        <label for="email">Email</label>
        <p *ngIf="emailError" class="error-message">please provide a valid email</p>
        <input
          class="form-control"
          name="email"
          ngModel
          placeholder="Enter Email Here"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="confirmemail">Email</label>
        <p *ngIf="emailError" class="error-message">please provide a valid email</p>
        <input
          class="form-control"
          name="confirmemail"
          ngModel
          placeholder="Enter Email Here"
          required
          email
        />
      </div>
      <div class="form-group" [hidden]="view == viewStatus.update">
        <label for="password">Password</label>
        <p *ngIf="passwordError" class="error-message">please provide a valid password</p>
        <input
          class="form-control"
          name="password"
          ngModel
          placeholder="Enter Password Here"
          required
        />
      </div>
      <div class="form-group" [hidden]="view == viewStatus.update">
        <label for="confirmpassword">Confirm Password</label>
        <p *ngIf="passwordError" class="error-message">please provide a valid password</p>
        <input
          class="form-control"
          name="confirmpassword"
          ngModel
          placeholder="Re-Enter Password Here"
          required
        />
      </div>
      <div class="form-group">
        <label for="queryAddress">Address</label>
        <input
          class="form-control"
          name="queryAddress"
          ngModel
          placeholder="Enter customer street and door number "
        />
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          class="form-control"
          name="city"
          ngModel
          placeholder="Enter customer street and door number "
        />
      </div>
      <button
        class="btn btn-warning"
        *ngIf="view == viewStatus.new"
        (click)="CreateProfile()"
        type="submit"
      >
        Create Profile
      </button>
      <button
        class="btn btn-warning"
        *ngIf="view == viewStatus.update"
        (click)="updateProfile()"
      >
        Update Profile
      </button>
      <button class="btn btn-danger" (click)="close()">Close</button>
    </form>
    </div>
    <div *ngIf="view == viewStatus.resetPassword">
      <div class="form-group">
        <label for="Name"
          >Name:
          <h2>
            {{ createUser.first_name + " " + createUser.last_name }}
          </h2></label
        >
      </div>
      <div class="form-group">
        <label for="query-phone-no">Password</label>
        <input
          class="form-control"
          name="password"
          [(ngModel)]="createUser.password"
          placeholder="Enter Password Here"
        />
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input
          class="form-control"
          name="password"
          [(ngModel)]="createUser.confirm_password"
          placeholder="Re-Enter Password Here"
        />
      </div>
      <button class="btn btn-primary" (click)="ResetPassword()">
        Reset Password
      </button>
      <button class="btn btn-danger" (click)="close()">close</button>
   
    </div>
  
  </div>

</div>
